@import url('https://fonts.cdnfonts.com/css/snowstorm');
html {
    scroll-behavior: smooth;
   }

body {
   margin: 0;
   padding: 0;
   background-color: rgba(26, 25, 25, 0.925);
   font-family: 'Snowstorm', sans-serif;                                                
   font-weight: bold;
   letter-spacing: 5px;

}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    box-shadow: 0 4px 7px 0 rgba(29, 28, 28, 0.2);
    box-sizing: border-box;
    padding: 0 90px;
  }

nav #name {
    font-size: 18px;
    font-weight: bold;
    color: #fff9f9;
    text-decoration: none;
                                                
  }
.span2 {
     color: rgb(0, 255, 255); 
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

nav li {
    margin: 0 15px;
  }

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
  }

ul a:hover {
    color: rgb(0, 255, 255); 
}

.span2 {
    color: rgb(0, 255, 255)
}

.span2:hover {
    color: #fff;
}



h1 {
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

span {
    color:rgb(0, 255, 255) ;
}

#exp{
    width: 700px;
    text-align: justify;
    left: 100px;
    right: 100px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    color: #ffffff;
    font-size: 16px;

}

#exp {
    animation: fadeIn 1s ease-out forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.school {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;
}

.left {
    animation: slideInFromLeft 1s ease-out forwards; /* Apply animation */
  }
  
  @keyframes slideInFromLeft {
    from {
        opacity: 0.1;
        transform: translateX(-100%); 
    }
    to {
        opacity: 1;
        transform: translateX(0); 
    }
  }

.right {
    animation: slideInFromRight 1s ease-out forwards; 
  }
  
  @keyframes slideInFromRight {
    from {
         opacity: 0.1;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }
  

  


.sc {
    width: 300px;
    height: 200px;
    margin: 0 10px;
    border: 1px solid #fff;
}

.sname {
    color: rgb(0, 255, 255);
    margin-top: 50px;
    justify-content: center;
    display: flex;
}

.sc-name {
    margin: 0 100px;
}

#a {
    height: 70px;
}

/* Footer */
footer {
    box-shadow: 0 0 7px  rgba(29, 28, 28, 0.2);
    color: white;
    text-align: center;
    padding: 10px;
    
  }
  
.icon {
    font-size: 25px;
    margin: 0px 5px;
    color: white;
    text-decoration: none;
  }
  
 .icon:hover {
    color: rgb(0, 255, 255); 
  }
  
#foot {
    font-style: normal;
    font-weight: normal;
}



